﻿@model CinemaStudio.Models.Съёмочный_период

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Съёмочный_период</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудник.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_отснятого_материала)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_отснятого_материала)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_записанных_аудио)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_записанных_аудио)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_СъемочногоПерида }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
