﻿@model IEnumerable<CinemaStudio.Models.Съёмочный_период>

@{
    ViewBag.Title = "Съемочный период";
}

<h2>Съемочный период</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_СъемочногоПерида)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_отснятого_материала)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_записанных_аудио)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_СъемочногоПерида)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Сотрудник.Должность)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Количество_отснятого_материала)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Количество_записанных_аудио)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_СъемочногоПерида }) |
        @Html.ActionLink("Подробнее", "Details", new { id = item.ID_СъемочногоПерида }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.ID_СъемочногоПерида })
    </td>
</tr>
}

</table>
