﻿@model CinemaStudio.Models.Человек

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Человек</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Отчество)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол)
        </dt>

        <dd>
            @if (Model.Пол.Value != true)
            {
                @:Женщина
            }
            else
            {
                @:Мужчина
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Образование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Образование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ДатаРождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ДатаРождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.СерияНомерПаспорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.СерияНомерПаспорта)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
