﻿@model IEnumerable<CinemaStudio.Models.Человек>

@{
    ViewBag.Title = "Люди";
}

<h2>Люди</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

@using (Html.BeginForm())
{
    @:Фамилия:
    <input name="lastName" type="text" />
    <input type="submit" value="Поиск">
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Человека)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Отчество)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Пол)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Образование)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ДатаРождения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СерияНомерПаспорта)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Человека)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Имя)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Фамилия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Отчество)
            </td>
            <td>
                @if (item.Пол.Value != true)
                {
                    @:Женщина
                }
                else
                {
                    @:Мужчина
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Образование)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Телефон)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаРождения)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СерияНомерПаспорта)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_Человека }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID_Человека }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Человека })
            </td>
        </tr>
    }

</table>
