﻿@{
    ViewBag.Title = "Сотрудник";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="hp-btn-div text-center">
        @Html.ActionLink("Предпроизводство", "Index", "Предпроизводство", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
        <br>
        @Html.ActionLink("Съёмочный период", "Index", "Съёмочный_период", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
        <br>
        @Html.ActionLink("Постпроизводство", "Index", "Постпроизводство", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
        <br>
        @Html.ActionLink("Титры и субтитры", "Index", "Титры_и_субтитры", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
        <br>
        @Html.ActionLink("Тиражирование", "Index", "Тиражирование", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
        <br>
        @Html.ActionLink("Фильмы", "Index", "Фильм", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
        <br>
        @Html.ActionLink("Сотрудники", "Index", "Сотрудник", null, htmlAttributes: new { @class = "btn btn-info btn-lg active" })
    </div>
</body>
</html>