﻿@{
    ViewBag.Title = "Very Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1>Добро пожаловать!</h1
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Курсовая работа по теме:<br>"Автоматизированная система киностудии"</h4>
        </div>
        <div class="col-md-6">
            <h4>Студент: Шаталов Александр Владимирович
            <br>
            Группа: ИСТбд-31</h4>
        </div>
    </div>
</div>