﻿@{
    ViewBag.Title = "Вход";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="hp-btn-div">
            <row class="sPage">
                <div class="col-md-4">
                    @Html.ActionLink("Войти как клиент", "Client", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn btn-dark btn-lg active hp-btn" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Войти как сотрудник", "Employee", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn btn-dark btn-lg active hp-btn" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Войти как администратор", "Administrator", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn btn-dark btn-lg active hp-btn" })
                </div>
            </row>
        </div>
    </div>
</body>
</html>