﻿@model CinemaStudio.Models.Фильм

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Фильм</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Постпроизводство.Тип_фонограммы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Постпроизводство.Тип_фонограммы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Предпроизводство.Тема)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Предпроизводство.Тема)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Съёмочный_период.ID_СъемочногоПерида)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Съёмочный_период.ID_СъемочногоПерида)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тиражирование.ID_Тиражирования)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тиражирование.ID_Тиражирования)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Титры_и_субтитры.Язык_текста)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Титры_и_субтитры.Язык_текста)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_релиза)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_релиза)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.БюджетФильма)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.БюджетФильма)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Длительность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Длительность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Язык)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Язык)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Жанр)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Жанр)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рейтинг)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рейтинг)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ВозрастноеОграничение)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ВозрастноеОграничение)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Статус)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Статус)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
