﻿@model IEnumerable<CinemaStudio.Models.Фильм>

@{
    ViewBag.Title = "Фильмы";
}

<h2>Фильмы</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

@using (Html.BeginForm())
{
    @:Жанр:
    <input name="genre" type="text" />
    @:. Возрастное ограничение:
    <input name="ageRestriction" type="text" />
    <input type="submit" value="Фильтрация" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_релиза)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.БюджетФильма)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Длительность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Язык)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Жанр)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Рейтинг)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ВозрастноеОграничение)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Статус)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_релиза)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.БюджетФильма)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Длительность)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Язык)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Жанр)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Рейтинг)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ВозрастноеОграничение)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Статус)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_Фильма }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID_Фильма }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Фильма })
            </td>
        </tr>
    }

</table>
