﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0c2a36;
    color: wheat
}

.jumbotron {
    background-color: #0f6c7a;
}

.sPage {
    margin: 500px;
}

footer {
    margin-top: 50px;
}

.btn {
    margin: 20px;
}

input, select {
    color: black;
}

/* Set padding to keep content from hitting the edges */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
