﻿@model CinemaStudio.Models.Предпроизводство

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Предпроизводство</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудник.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тема)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тема)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сюжет)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сюжет)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Проблематика)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Проблематика)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_Предпроизводства }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
