﻿@model IEnumerable<CinemaStudio.Models.Предпроизводство>

@{
    ViewBag.Title = "Предпроизводство";
}

<h2>Предпроизводство</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Предпроизводства)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Тема)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сюжет)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Проблематика)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_Предпроизводства)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Сотрудник.Должность)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Тема)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Сюжет)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Проблематика)
    </td>
    <td>
        @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Предпроизводства }) |
        @Html.ActionLink("Подробнее", "Details", new { id = item.ID_Предпроизводства }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Предпроизводства })
    </td>
</tr>
}

</table>
