﻿@model CinemaStudio.Models.Титры_и_субтитры

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Титры_и_субтитры</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Язык_текста)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Язык_текста)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Продолжительность_титров)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Продолжительность_титров)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_ТИС }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
