﻿@model IEnumerable<CinemaStudio.Models.Титры_и_субтитры>

@{
    ViewBag.Title = "Титры и субтитры";
}

<h2>Титры и субтитры</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_ТИС)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Язык_текста)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Продолжительность_титров)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_ТИС)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Язык_текста)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Продолжительность_титров)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_ТИС }) |
        @Html.ActionLink("Подробнее", "Details", new { id = item.ID_ТИС }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.ID_ТИС })
    </td>
</tr>
}

</table>
