﻿@model CinemaStudio.Models.Постпроизводство

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Постпроизводство</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудник.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Время_смонтированного_фильма)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Время_смонтированного_фильма)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тип_фонограммы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_фонограммы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тип_шумов)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_шумов)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
