﻿@model CinemaStudio.Models.Постпроизводство

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Постпроизводство</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудник.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Время_смонтированного_фильма)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Время_смонтированного_фильма)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тип_фонограммы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_фонограммы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Тип_шумов)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Тип_шумов)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_Постпроизводства }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
