﻿@model IEnumerable<CinemaStudio.Models.Постпроизводство>

@{
    ViewBag.Title = "Постпроизводство";
}

<h2>Постпроизводство</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Постпроизводства)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сотрудник.Человек.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Время_смонтированного_фильма)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Тип_фонограммы)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Тип_шумов)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_Постпроизводства)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Сотрудник.Человек.Имя)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Время_смонтированного_фильма)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Тип_фонограммы)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Тип_шумов)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_Постпроизводства }) |
        @Html.ActionLink("Подробнее", "Details", new { id = item.ID_Постпроизводства }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Постпроизводства })
    </td>
</tr>
}

</table>
