﻿@model CinemaStudio.Models.Тиражирование

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Тиражирование</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Количество_копий)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_копий)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество_рекламных_договоров)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество_рекламных_договоров)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Подробнее", "Edit", new { id = Model.ID_Тиражирования }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
