﻿@model IEnumerable<CinemaStudio.Models.Тиражирование>

@{
    ViewBag.Title = "Тиражирование";
}

<h2>Тиражирование</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Количество_копий)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_рекламных_договоров)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Количество_копий)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Количество_рекламных_договоров)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID_Тиражирования }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.ID_Тиражирования }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Тиражирования })
        </td>
    </tr>
}

</table>
