﻿@model CinemaStudio.Models.Сотрудник

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Человек.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Человек.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ЗП)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ЗП)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.СтажРаботы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.СтажРаботы)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_Сотрудника }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
