﻿@model IEnumerable<CinemaStudio.Models.Сотрудник>

@{
    ViewBag.Title = "Сотрудники";
}

<h2>Сотрудники</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

@using (Html.BeginForm())
{
    @:Должность:
    <input name="post" type="text" />
    @:. ЗП:
    <input name="pay" type="text" />
    <input type="submit" value="Фильтрация" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Сотрудника)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Человек.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Человек.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Должность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ЗП)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СтажРаботы)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Сотрудника)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Человек.Имя)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Человек.Фамилия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Должность)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ЗП)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СтажРаботы)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_Сотрудника }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID_Сотрудника }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Сотрудника })
            </td>
        </tr>
    }

</table>
