﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.Cookies["RoleCookie"] == null)
                    {
                        <li>@Html.ActionLink("Войти", "SignInPage", "Home")</li>
                    }
                    else
                    {
                        switch (Request.Cookies["RoleCookie"].Value)
                        {
                            case "Client":
                                <li>@Html.ActionLink("Личный кабинет", "HomeClientPage", "Home")</li>
                                break;
                            case "Employee":
                                <li>@Html.ActionLink("Личный кабинет", "HomeEmployeePage", "Home")</li>
                                break;
                            case "Admin":
                                <li>@Html.ActionLink("Личный кабинет", "HomeAdminPage", "Home")</li>
                                break;
                        }
                        <li>@Html.ActionLink("Выйти", "SignOut", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - !Лушая курсовая работа</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
